.newsBody{
    padding: 73.44px 12px 41.04px 12px;
    margin: 0 auto;
}
.newsBody>h1{
    padding-bottom: 10.8px;
    text-align: center;
}
.topOfNews{
    padding-bottom: 30px;
}
.topOfNews ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}
.topOfNews ul li{
    font-size: 20px;
    position: relative;
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #5a5a5a;
    padding-bottom: 12px;
    margin-left: 20px;
    cursor: pointer;
}
.liSelected{
    font-weight: 700;
    color: #000;
    border-bottom: black solid 4px;
}
.newsContain{
    padding: 0 12px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.news{
    position: relative;
    padding: 0 12px;
    width: 50%;
    float: left;
}
.CardLatestNews {
    margin: 0 auto 27px;
    height: 163px;
    width: 538px;
    display: flex;
    clear: both;
    overflow: hidden;
    cursor: pointer;
}
.CardLatestNews__image-container {
    width: 284px;
    height: 160px;
    overflow: hidden;
}
.CardLatestNews__image {
    width: 100%;
    height: 100%;
}
.CardLatestNews__content-container {
    position: relative;
    padding: 0 8px;
    width: 310px;
}
.CardLatestNews__Heading {
    margin-top: 0;
    display: inline-block;
    font-size: 19px;
    line-height: 24px;
    font-weight: 200;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.CardNewsResult__content-subtitle {
    font-style: italic;
    color: #5a5a5a;
    font-size: 10px;
    margin: 0;
    line-height: 1;
    padding-right: 10px;
}
.LatestNewsByline .\--byline-date {
    display: block;
    font-weight: 400;
}
.CardLatestNews__Excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    position: relative;
    color: #5a5a5a;
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 1em 0;
}
.CardLatestNews__shadow {
    position: absolute;
    bottom: 0;
    height: 70px;
    background: #fff;
    width: 100%;
    background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,0)),to(#fff));
    background: -webkit-linear-gradient(top,hsla(0,0%,100%,0),#fff);
    background: -o-linear-gradient(top,hsla(0,0%,100%,0),#fff);
    background: linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
}