body{
    font-family: serif;
    background-color: black;
    color: white;
    font-size: 20px;
}
input{
    font-family: serif;
    background:none;
    outline:none;
    border:0;
    color: white;
    font-size: 20px;
    width: 1200px;

}
textarea{
    width: 1200px;
    font-family: serif;
    outline:none;
    resize:none;
    color: white;
    background:none;
    font-size: 20px;
    border:0;
}